<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samilcts.app.mpaio.demo2">

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" android:minSdkVersion="23" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".IntroActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuyActivity"
            android:label="@string/title_activity_buy"
          />
        <activity
            android:name=".KeyPadActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_keypad"
            android:parentActivityName=".PrepaidCardActivity"
            > <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".PrepaidCardActivity" /></activity>

        <activity
            android:name=".CartActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_cart"
            android:parentActivityName=".BuyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BuyActivity" />
        </activity>


        <activity
            android:name=".PrepaidCardActivity"
            android:label="@string/title_activity_prepaid_card"
            />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MsIcReceiptActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MsIcReceiptActivity" />
        </activity>
        <activity
            android:name=".MsIcReceiptActivity"
            android:label="@string/title_activity_receipt"
            android:launchMode="singleTop"
            android:parentActivityName=".BuyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BuyActivity" />
        </activity>


        <activity
        android:name=".PrepaidReceiptActivity"
        android:label="@string/title_activity_receipt"
        android:launchMode="singleTop"
        android:parentActivityName=".PrepaidCardActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".PrepaidCardActivity" />
    </activity>

        <activity
            android:name=".PrepaidLogActivity"
            android:label="@string/title_activity_prepaid_log"
            android:launchMode="singleTop"
            android:parentActivityName=".PrepaidCardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrepaidCardActivity" />
        </activity>

        <activity
            android:name=".TmoneyReceiptActivity"
            android:label="@string/title_activity_receipt"
            android:launchMode="singleTop"
            android:parentActivityName=".BuyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BuyActivity" />
        </activity>

        <activity
            android:name=".CashbeeReceiptActivity"
            android:label="@string/title_activity_receipt"
            android:launchMode="singleTop"
            android:parentActivityName=".BuyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BuyActivity" />
        </activity>

        <service
            android:name=".MpaioService"
            android:enabled="true" >
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f468b9a04c5688bcb579cd35e7e7dbc032442096" />

    </application>

</manifest>
